body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 1em;
    position: relative;
}

.profile-pic {
    position: absolute;
    top: 87px;
    width: 100%;
}

.profile-pic img{
    border-radius: 50%;
    border: solid 5px white;
}

.header img {
    border-radius: 1em 1em 0 0;
}

.content {
    margin-top: 75px;
}

.info {
    margin-bottom: 25px;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px
}

hr {
    border-color: hsl(0, 0%, 59%) 1px;
    opacity: 0.3;
}

/*fonts*/
h1 {
    color:hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
}
.info p {
    margin-top: 0;;
}

span, .info p {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.stats p:first-child {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.stats p:last-child {
    margin: 7px 0 0;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.25em;
}